<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="#(ctx)/assets/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="#(ctx)/assets/layuiadmin/style/admin.css" media="all">
<link href="#(ctx)/assets/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="#(ctx)/assets/validform/validform.css" rel="stylesheet" type="text/css" />
<link href="#(ctx)/assets/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<link href="#(ctx)/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="#(ctx)/assets/bootstrap/components.min.css" rel="stylesheet" id="style_components" type="text/css" />